<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Karma", sans-serif
    }
    
    .w3-bar-block .w3-bar-item {
        padding: 20px
    }
</style>

<body>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/upload/images/masthead/company_AboutUs_1a.jpg" alt="Sandwich" style="width:100%">
                <h3>The Iris Family</h3>
                <p>United We Stand Divided We Fall</p>
            </div>
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/upload/images/cloud_integration.jpg" alt="Steak" style="width:100%">
                <h3>The Might of MiddleWare</h3>
                <p>Iris maintains a specialized team of Boomi certified professionals to help our client on‐board their trading partners rapidly using the Boomi AtomSphere Cloud Integration platform.</p>
            </div>
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/upload/images/asset_and_wealth.jpg" alt="Cherries" style="width:100%">
                <h3>Modern Data Architecture</h3>
                <p>Iris enabled the selection of the right technology platform with a replicated environment on AWS</p>
                <p>What else?</p>
            </div>
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/upload/images/capital_markets.jpg" alt="Pasta and Wine" style="width:100%">
                <h3>Anti Money Laundering Analytics</h3>
                <p>Iris cross-trained a global team for an efficient implementation of a Big Data Lake for a Global Bank</p>
            </div>
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/upload/images/auto_id.jpg" alt="Popsicle" style="width:100%">
                <h3>Tag That Binds</h3>
                <p>Iris’Sense and Response (SnR) Framework helped a leading medical device company improve management of the ir inventory and accelerate product shipment to customers</p>
            </div>
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/upload/images/info-9-small.jpg" alt="Salmon" style="width:100%">
                <h3>The Iris Policy</h3>

            </div>
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/images/SS_slide_1.jpg" alt="Sandwich" style="width:100%">
                <h3>Vision To Reality</h3>
                <p>The Real Challenge</p>
            </div>
            <div class="w3-quarter">
                <img src="https://www.irissoftware.com/images/SS_slide_4.jpg" alt="Croissant" style="width:100%">
                <h3>Predictable Outcomes</h3>
                <p>Predicting outcomes by using various strategies</p>
            </div>
        </div>

        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">>></a>
            </div>
        </div>

        <hr id="about">

        <!-- About Section -->
        <div class="w3-container w3-padding-32 w3-center">
            <h3>About Iris Software</h3><br>
            <img src="/w3images/chef.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
            <div class="w3-padding-32">
                <h4><b>Who We Really Are</b></h4>
                <h6><i>With Passion For Real, Good Product</i></h6>
                <p>Iris Software is a global Information Technology services organization offering high-quality solutions to businesses. It services the information technology requirements of Fortune 1000 companies by utilizing specialized domain knowledge,
                    best-of-breed technologies, rapidly deployable proprietary frameworks/solutions and flexible engagement models. We have been serving our customers for over 25 years from our offices in New York, Toronto, New Delhi and our headquarters,
                    Edison, New Jersey. We service our customers across two broad business lines - Financial Services and Enterprise Services.</p>
            </div>
        </div>
        <hr>


        <!-- End page content -->
    </div>

    <section id="lab_social_icon_footer">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="text-center center-block">
                <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>

            </div>
        </div>
    </section>

</body>

</html> 